* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
body {
    background-color: #333;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: rgb(218, 218, 216);
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    gap: 15px;

}

.slot-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

}

.ruutu {
    border: #000000 1px solid;
}

.lukitse {
    padding: 15px;
    background-color: red;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 400;
}  

#pelaa {
    background-color: #4bb21b;
    border: 0;
    border-radius: 56px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    outline: 0;
    padding: 16px 200px;
    text-align: center;
}

#pelaa.hover {

}



/* #canvas {
    background: rgb(205, 201, 151);
    border: 5px solid green;
} */
  
.slotti {
    display: none;
    border: 2px solid #000000;
    background-color: bisque;
}